/*
	Put your custom CSS here.
.
	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/


.front {
	transition: 4s;
position: absolute;

}

.back {

-webkit-transform: rotateY(180deg);
-webkit-backface-visibility:hidden;
transition: 4s;

}

.portfolio-item:hover .front{
-webkit-transform: rotateY(180deg); 

}


.portfolio-item:hover .back{
-webkit-transform: rotateY(0deg);
}

